      a,
      body,
      h1,
      h2,
      html,
      li,
      p,
      span,
      ul {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
      }
      body {
        background-color: rgb(246,214,159);
        background: radial-gradient(circle at bottom center, rgb(246,214,159),rgb(206,145,215));
        font-family: "Roboto", Tahoma, Helvetica, Verdana, sans-serif;
        font-display: swap;
        font-size: 14px;
        line-height: 1.3;
        color: #333;
      }
      .page-background {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-image: url("");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .page-container {
        width: 100%;
        height: 100%;
        overflow: visible;
      }
      .page-content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
      }
      .profile-column {
        width: 100%;
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
      }
      .profile {
        min-height: 100vh;
        line-height: 1.4;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        min-width: 320px;
        position: relative;
      }
      .profile-content {
        width: 620px;
        max-width: calc(100vw - 10px);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        margin-top: 60px;
      }
      .profile-content .head .image {
        background-color: white;
        background-image: url(gtakjs.html);
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2),
          0 0 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-top: -60px;
        margin-bottom: 20px;
        width: 120px;
        height: 120px;
      }
      .profile-content .head .name {
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        margin: 0;
        color: #333;
      }
      .profile-content .head .headline {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        margin: 0;
      }
      .profile-content .body {
        padding: 20px;
      }
      .profile-content .body .spotlight {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
      }
      .profile-content .body .spotlight .button {
        background-color: #333;
        box-shadow: inset 0 0 0 100px hsla(0, 0%, 100%, 0);
        min-width: 100%;
        font-size: 15px;
        transition: all 0.15s ease-out;
        line-height: 38px;
        padding: 0 20px;
        text-decoration: none !important;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        white-space: nowrap;
        user-select: none;
        font-size: 14px;
        border: 1px solid #333;
        color: #fff;
        transition: all 0.15s ease-out;
      }
      .profile-content .body .bio {
        font-size: 16px;
        max-width: 400px;
        width: 100%;
        margin: 20px auto 0;
        text-align: left;
        word-wrap: break-word;
      }
      .profile-content .body .interests {
        margin-top: 20px;
      }
      .profile-content .body .interests .inline li {
        padding: 0;
        margin: 5px;
        color: #777;
      }
      .profile-content .body .meta {
        margin-top: 20px;
      }
      .profile-content .body .meta .meta-sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
        font-size: 14px;
        list-style: none;
      }
      .profile-content .body .meta .meta-sections .meta-header {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      .profile-content .body .meta .meta-sections .meta-list {
        list-style: none;
      }
      .profile-content .body .meta .meta-sections .meta-list li {
        display: block;
        margin-top: 0.25em;
      }
      .profile-content .body .social-links {
        margin-top: 20px;
      }
      .profile-content .body .social-links li {
        color: rgba(54, 71, 78, 0.7);
        font-size: 30px;
        box-sizing: border-box;
        text-align: center;
        padding: 0;
        margin: 10px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        display: block;
      }
      .profile-content .body .social-links li:first-child {
        align-items: center;
        background-color: #333;
        border-radius: 18px;
        box-sizing: border-box;
        display: flex;
        font-size: 20px;
        height: 36px;
        justify-content: center;
        text-align: center;
        width: 36px;
      }
      .profile-content .body .social-links li svg {
        fill: #333;
      }
      .profile-content .body .social-links li:first-child svg {
        fill: #FBF3EF;
        height: 21px;
        width: 20px;
      }
      .profile-content .body .inline {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .profile-content .body .inline > li {
        vertical-align: baseline;
        display: inline-block;
      }